<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pontus.wishar">

    <!-- for using wifi -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.WISPrService"
            android:exported="false" />
        <service
            android:name=".service.WebLoginService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.WifiConnectionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!-- WifiManager.NETWORK_STATE_CHANGED_ACTION 監聽系統廣播 "wifi是否有連上ap" -->
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DebugActivity"
            android:label="@string/title_activity_debug"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
    </application>

</manifest>